RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Prevenir acceso directo a archivos PHP en subdirectorios
RedirectMatch 403 ^/(app|sql|docker)/.*$
